
\.idea/\.idea\.Practice/\.idea/

\.idea/\.idea\.Practice/

src/Practice\.Data/bin/Debug/netcoreapp2\.1/

src/Practice\.Data/obj/Debug/netcoreapp2\.1/

src/Practice\.Data/obj/

src/Practice\.Web/bin/Debug/netcoreapp2\.1/

src/Practice\.Web/obj/Debug/netcoreapp2\.1/

src/Practice\.Web/obj/

src/Practice/bin/Debug/netcoreapp2\.1/

src/Practice/obj/Debug/netcoreapp2\.1/

src/Practice/obj/
src/Practice.Frontend/obj/
