version: '3'

services:

  practicefrontend:
    image: practicefrontend
    build: 
      context: .
      dockerfile: src/Practice.Frontend/Dockerfile
    ports:
      - 80:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  practiceweb:
    image: practiceweb
    build: 
      context: .
      dockerfile: src/Practice.Web/Dockerfile
    ports:
      - 81:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  practicedb:
    image: practicedb
    build:
      context: .
      dockerfile: ./src/PostgreSQL/Dockerfile
    restart: always
    ports:
      - 4001:5432
    volumes:
      - ./src/PostgreSQL/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: practice
      POSTGRES_PASSWORD: practice
      POSTGRES_DB: practicedb