.neoantigens-types-chart__chart-wrapper {
  max-width: 540px;
  padding: 20px 0 0;
  box-sizing: border-box;
  margin: 115px 0 0 115px; }

.neoantigens-types-chart__chart-text {
  font-size: 12px;
  fill: #83aee5; }

.neoantigens-types-chart__legend-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 94px;
  margin-top: 20px; }

.neoantigens-types-chart__legend-item {
  position: relative;
  height: 20px;
  max-width: 50%;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  line-height: 20px; }

.neoantigens-types-chart__legend-item-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(0, -50%); }

.neoantigens-types-chart__legend-item-text {
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #68717c;
  border-radius: 3px; }
  .neoantigens-types-chart__legend-item-text--selected {
    background: rgba(50, 129, 223, 0.12); }
